:root {
    /* typeface */
    --main-font: "Helvetica Neue", sans-serif;

    /* colors */
    --black: #000000;
    --background-color: #141414;
    --background-color-gradient: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(10, 10, 10, 1),
        rgba(20, 20, 20, 1)
    );
    --white: #ffffff;
    --white-default: #e5e5e5;
    --white-focus: #b3b3b3;

    /* font size */
    --size-xs: 12px;
    --size-s: 14px;
    --size-m: 16px;
    --size-l: 18px;
    --size-xl: 22px;
}
